footer {
    background-color: #010102;
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.8em;  /* aplica direto sem precisar de span */
    font-weight: 200;
    color: #e8e8f0;
}
