header {
  background-color: #010102;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 2.8em;
  font-weight: 200;
  cursor: pointer;
  color: #7c6cf6;
  transition: 0.2s ease-in-out;
}

header h1:hover {
  color: #ffffff;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  margin-right: 1.3em;
  font-size: 1.5em;
  color: #7c6cf6;
  transition: 0.2s ease-in-out;
}

header nav a:hover {
  color: #ffffff;
}
