@media (max-width: 1200px) {
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-content {
        width: 100%;
        align-items: center;
        margin-bottom: 15%;
    }

    main .main-content .text,
    main .techs {
        text-align: center;
    }

    main .main-content .text p {
        width: 100%;
        font-size: 0.9em;
    }

    main .techs .cards-container {
        margin-top: 32px;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    header nav {
        margin-top: 24px;
    }

    header nav a {
        font-size: 1em;
    }

    main .techs .cards-container .card {
        width: 60px;
        height: 60px;
    }

    main .main-content .text h2,
    main .techs h2 {
        font-size: 1.8em;
    }

    main figure img {
        width: 250px;
        height: 250px;
    }
}
